body{
  background-color:brown;
}

h1{
  color: white;
}
h3{
  color: white;
  font-size: 70px;
}
#header{
  background-color: grey;
  height: 30%;
}

.header{
  font-size: 25px;
  text-align: center;
}

#cargadorAjax{
  background-color: green;
  height: 500px;
  text-align: center;
}


#centro{
  background-color: pink;
  background-repeat: no-repeat;
  background-position: center;

  height: 500px;
}

#footer{
  background-color: blue;
  height: 30%;
}
