body{
  background-color:brown;
}

h1{
  color: white;
}
h3{
  color: white;  
}

#cargadorAjax{
  background-color: green;
  height: 602px;
  text-align: center;
}

#file-input{
  width:100px;
    margin-left:auto;
    margin-right:auto;
}
